<ion-view view-title="产品目录">
  <ion-content>
    <div class="list card" ng-repeat="it in catalogList">
      <div class="item row stable-bg" ng-click="openModal({{it}})">
        <div class="col col-25 col-offset-10 text-center">
          <img src="img/ionic.png">
        </div>
        <div class="col">
            <br/>
            <h1>{{it.catalogName}}</h1>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<script id="categoryMembers.html" type="text/ng-template">
  <ion-modal-view class="card">
    <ion-header-bar class="stable-bg">
      <h1 class="title">{{showCatalog.catalogName}}</h1>
      <button class="button button-icon ion-close-round" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="item card row" ng-repeat="it in showCatalog.productList" ng-click="addProcutToCart(it)">
          <div class="col text-center">
            <img src="{{it.smallImageUrl}}">
          </div>
          <div class="col">
            <h3 style="margin: 12px;">{{it.productId}}</h3>
            <h3 style="margin: 12px;">{{it.productName}}</h3>
            <h3 style="margin: 12px;">{{it.price}}</h3>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
