<ion-view view-title="客户列表">
  <ion-content>
    <div class="card">
      <div class="list">
        <button class="item item-icon-left col-20" ng-click="editCustomer()">
          新增客户
          <i class="icon ion-person-add"></i>
        </button>
        <div class="item item-input-inset">
          <label class="item-input-wrapper col-20">
            <input type="text" placeholder="客户编号">
          </label>
          <label>&nbsp;&nbsp;</label>
          <label class="item-input-wrapper col-20">
            <input type="text" placeholder="客户名称">
          </label>
          <button class="button button-small col-10">
            <h3>查 询</h3>
          </button>
        </div>
        <div class="item">
          <div class="list">
            <div class="item item-stable row">
              <div class="col">客户名称</div>
              <div class="col">会员卡号</div>
              <div class="col">联系电话</div>
              <div class="col">积分</div>
              <div class="col">创建日期</div>
            </div>
            <div class="item row" ng-click="setCustomerToCart()">
              <div class="col">demo客户(点我会报错)</div>
              <div class="col">W1234</div>
              <div class="col">15618266453</div>
              <div class="col">1000</div>
              <div class="col">2015-01-01 00:00:00</div>
            </div>
            <div class="item row" ng-repeat="customer in customerList" ng-click="setCustomerToCart(customer)">
              <div class="col">{{customer.lastName=='null'?'':customer.lastName}}{{customer.firstName=='null'?'':customer.firstName}}</div>
              <div class="col">{{customer.cardId=='null'?'':customer.cardId}}</div>
              <div class="col">{{customer.contactNumber=='null'?'':customer.contactNumber}}</div>
              <div class="col">{{customer.availableBalanceTotal=='null'?0:customer.availableBalanceTotal}}({{customer.actualBalanceTotal=='null'?0:customer.actualBalanceTotal}})</div>
              <div class="col">{{customer.createdDate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<script id="editCustomer.html" type="text/ng-template">
  <ion-modal-view class="card">
    <ion-header-bar class="stable-bg">
      <h1 class="title">{{customer?'新增客户':'修改客户'}}</h1>
      <button class="button button-icon ion-close-round" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-tabs class="tabs-light tabs-top tabs-icon-left">
      <ion-tab title="个 人 客 户" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
        <ion-view>
          <ion-content>
            <div class="card list">
              <div class="item item-input">
                <input type="text" placeholder="联系人姓名"/>
              </div>
              <div class="item item-input">
                <input type="text" placeholder="手机号码"/>
              </div>
              <div class="item row text-center">
                <div class="col"><ion-radio ng-model="gender" ng-value="M">男</ion-radio></div>
                <div class="col"><ion-radio ng-model="gender" ng-value="F">女</ion-radio></div>
              </div>
              <div class="item">
                <ionic-datepicker date="pickDate" callback="datePickerCallback">
                  <button class="button button-block button-calm"> 选择生日: {{ birthdayDate | date:'yyyy-MM-dd' }}</button>
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <button class="button button-block button-dark" ng-click="closeModal1()">创 建 客 户</button>
            </div>
          </ion-content>
        </ion-view>
      </ion-tab>

      <ion-tab title="企 业 客 户" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">

      </ion-tab>
    </ion-tabs>
  </ion-modal-view>
</script>
