/* Empty. Add your own CSS if you like */
/*override ionic modal css*/
.modal {
    top: 10%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    min-height: 500px;
    width: 60%; }
.home-modal {
    top: 10%;
    right: 5%;
    bottom: 10%;
    left: 5%;
    min-height: 400px;
    width: 90%; }
.home-input-font{
    font-size: 1.5em !important ;
    font-weight:900;
    color: #111 !important;
}
.background-image-none{
    background-image:none;!important;
}
.ipad-screen-height{
    height: 550px;
}
/*override datepicker css*/
._720kb-datepicker-calendar._720kb-datepicker-open,._720kb-datepicker-calendar._720kb-datepicker-forced-to-open {
    visibility: visible;
    position:relative;
}